---
import Layout from "../layouts/Layout.astro";
import Home from "../layouts/Home.astro";
---

<Layout title="Spofity ;)">
  <Home>
		<aside slot="aside">a</aside>
    <main slot="main">2</main>
		<footer slot="player">kie</footer>
  </Home>
</Layout>

