---
import HomeIcon from "./icons/Home.astro";
import SearchIcon from "./icons/Search.astro";
import NavMenuItem from "./NavMenuItem.astro";
---

<nav class="card-1">
  <ul class="grid gap-4">
    <NavMenuItem href="/">
      <HomeIcon />
      Home
    </NavMenuItem>

    <NavMenuItem href="/">
      <SearchIcon />
      Search
    </NavMenuItem>
  </ul>
</nav>
