---
import LibraryIcon from "./icons/Library.astro";
import NavMenuItem from "./NavMenuItem.astro";
import { playlists } from "@/lib/data";
---

<nav class="card-1">
  <NavMenuItem>
    <LibraryIcon /> Your Library
  </NavMenuItem>
</nav>
