---
import LibraryIcon from "./icons/Library.astro";
import NavMenuItem from "./NavMenuItem.astro";
import { playlists } from "@/lib/data";
import LibraryItemCard from "./LibraryItemCard.astro";
---

<nav class="card-1 p-2 flex flex-col gap-4">
  <NavMenuItem href="#">
    <LibraryIcon /> Your Library
  </NavMenuItem>

  <ul class="grid gap-1">
    {
      playlists.map((playlist) => (
        <li>
          <LibraryItemCard {...playlist} />
        </li>
      ))
    }
  </ul>
</nav>
